<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- Conexión a la base de datos MySQL -->
		<add name="DefaultConnection"
             connectionString="Server=localhost;Database=gestion_empresasrial;Uid=root;Pwd=mom@5521;SslMode=none;"
             providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>